.custom-link-nav-color{
    color: white !important;

}
.logo-navbar{
    width: 45px;

}
.img-custom-caroules{
    border: solid 5px black;
    

}
.custom-margin{
    margin-top: 72px;
}
.custom-img{
    height: 286px;
}
